:root {
    --height-navbar: 60px;
    --width-sidebar: 245px;
    --color-primary: #6495ed;
    --color-hover-primary: #9bb8f0;
    --color-secondary: #29a5b6;
    --color-hover-secondary: #46cadb;
    --color-gray: #d0d0d0;
    --color-hover-gray: #f0f3f3;
    --background-color-menu-session: var(--color-primary);
    --background-color-sidebar: var(--color-primary);
    --background-color-content: #f0f0f0;
    --background-color-navbar: var(--color-secondary);
    --color-navbar: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* ----------------------- Elementos del NavBar -------------------------------- */
.bars {
    display: none;
}

.bar {
    width: 12px;
    border-top: 2px solid black;
    height: 3px;
    padding: 0;
}

.flex {
    flex: 1;
}

.menu-session {
    position: absolute;
    right: 0px;
    background-color: var(--background-color-menu-session);
    z-index: 5;
    cursor: pointer;
    padding: 0px;
    box-shadow: -10px 6px 20px -6px rgba(100, 149, 237, 1);
    transition: all 5s linear 3s;
}

.menu-session-hide {
    display: none;
}

.session {
    cursor: pointer;
    padding-right: 10px;
}

.link-session {
    padding: 10px;
}

.link-session:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.navbar {
    display: flex;
    align-items: center;
    width: calc(100% - 245px);
    height: calc(var(--height-navbar));
    background-color: var(--background-color-navbar);
    color: var(--color-navbar);
    margin-left: calc(var(--width-sidebar));
    padding: 10px 10px;
    box-shadow: -1px 4px 3px 0px rgba(41, 165, 150,0.8);
    position: relative;
    z-index: 3;
}

/* ----------------------- Elementos del SideBar -------------------------------- */
.caret {
    float: right;
    line-height: 30px;
    transform: rotate(0deg);
}

.caret-rotate {
    float: right;
    line-height: 30px;
    transform: rotate(180deg);
}

.link {
    display: block;
    text-decoration: none;
    cursor: pointer;
    line-height: 30px;
    padding-left: 5px;
    color: white;
    outline: none;
}

.link:hover {
    display: block;
    background-color: black;
    color: white;
    cursor: pointer;
}

.link:focus {
    display: block;
    background-color: black;
    color: white;
    cursor: pointer;
}

.nav-link {
    display: block;
    margin-bottom: 10px;
}

.nav-link-hidden {
    display: none;
}

.link-select {
    display: block;
    background-color: #214992;
    padding: 3px 5px;
    color: white;
    box-shadow: 11px 11px 15px -8px rgba(33, 73, 146, 0.9);
}

.sidebar {
    display: block;
    position: absolute;
    top: 0px;
    background-color: var(--background-color-sidebar);
    height: 98vh;
    width: var(--width-sidebar);
    padding: 5px 10px;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #719ff3;
    height: calc(var(--height-navbar) - 1px);
    width: calc(var(--width-sidebar));
    margin: -4px 0px 30px -11px;
    padding: 10px 10px;
    box-shadow: -1px 4px 3px 0px rgba(0,0,0,.1);

}

.sidebar-scroll {
    /* display: flex; */
    margin-top: -20px;
    overflow: auto;
    height: 87.5vh;
    top: 0;
    font-size: 15px;
}

/* .sidebar-content {
    box-shadow: 22px 27px 4px -19px rgb(var(--color-primary)); 
} */

.sidebar-hide {
    display: none;
}

/* ----------------------- Area Content  -------------------------------- */
.content {
    background-color: var(--background-color-content);
    padding: 20px 10px 15px 25px;
    margin-left: 240px;
    height: calc(98vh - 60px);
    overflow-y: auto;
    max-width: (100vw - 240px);
}

/* ----------------------- Estilos del Contenido General  -------------------------------- */

/* ------------------------  Buttons -------------- */
.btn {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 4px;
    min-width: 15%;
    max-width: 30%;
}

.btn-sm {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 2px;
}

.btn-primary {
    background-color: var(--color-primary);
    box-shadow: 8px 5px 10px -3px rgba(100, 149, 237, 1);
}

.btn-primary:hover {
    background-color: var(--color-hover-primary);
}

.btn-primary:focus {
    outline: 2px solid var(--color-primary);
    background-color: var(--color-hover-primary);
}

.btn-secondary {
    background-color: var(--color-secondary);
    box-shadow: 8px 5px 10px -3px rgba(41, 165, 182, 1);
}

.btn-secondary:hover {
    background-color: var(--color-hover-secondary);
}

.btn-secondary:focus {
    outline: 2px solid var(--color-secondary);
    background-color: var(--color-hover-secondary);
}

.btn-lightgray {
    background-color: var(--color-gray);
    box-shadow: 8px 5px 10px -5px rgba(208, 208, 208, 1);
}

.btn-lightgray:hover {
    background-color: var(--color-hover-gray)
}

.btn-lightgray:focus {
    outline: 2px solid var(--color-hover-gray);
    background-color: var(--color-hover-gray);
}

.btn-red {
    background-color: red;
    box-shadow: 8px 5px 10px -5px rgba(255, 0, 0, 1);
}

.btn-red:hover {
    background-color: rgb(240, 113, 113);
}

.btn-red:focus {
    outline: 2px solid rgba(240, 113, 113, 0.7);
    background-color: rgb(240, 113, 113);
}

/* ------------------------  Textos  -------------- */
.text-primary {
    color: var(--color-primary);
}

.text-white {
    color: #f0f1f3;
}

.text-black {
    color: black;
}

/* ------------------------  Fondos  -------------- */
.bg-primary {
    background-color: var(--color-primary);
}

.bg-white {
    background-color: white;
}

.bg-gray {
    background-color: var(--color-gray);
}

.pl-2 {
    padding-left: 0.75rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.input {
    height: 30px;
    padding: 5px 5px;
    outline: none;
}

.input:focus {
    border: 2px solid var(--color-primary)
}

/* ----------------------- MEDIA QUERY  -------------------------------- */

@media screen and (max-width:800px) {
    .bars {
        display: inline;
        margin-left: 0px;
        border: 1px solid black;
        padding: 5px 5px;
        cursor: pointer;
    }

    .bars:hover {
        background-color: rgb(141, 238, 227);
    }

    .content {
        margin-left: 0px;
    }

    .sidebar {
        z-index: 5;
        box-shadow: 15px 19px 4px -19px rgb(108, 156, 245);
    }

    .sidebar-hide {
        display: none;
    }

    .navbar {
        margin-left: 0;
        width: 100%;
        box-shadow: -7px 3px 5px 5px rgb(41, 165, 150);

    }
}